
{% load static %}
<html>
    <head>
        <title>Invoices Project</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/invoice.css' %}">
        

    </head>
    <body>
        <div class="container">
            <div class="nav">
                <a href="{% url 'product_app:dashboard'%}">Dashboard</a>
                <a href="{% url 'product_app:index' %}">Products</a>
                <a href="{% url 'product_app:invoices' %}">Invoices</a>
            
            </div>
        
            {% block content %}
            {% endblock %}

        </div>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>